@tailwind base;
@tailwind components;
@tailwind utilities;

.gradation {
	background: linear-gradient(170deg, rgba(30, 24, 32, 1) 0%, rgba(98, 96, 147, 1) 100%);
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  height: 150px;
  padding-left: 20px;
}

